body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
    background: transparent url("background.jpg") no-repeat scroll 50% 50%;
    background-size: 2000px;
}

header {
    background-color: #eacbcb;
    color: #fff;
    text-align: center;
    padding: 20px;
    font-family: Impact, Charcoal, sans-serif;
font-size: 18px;
letter-spacing: 0.2px;
word-spacing: -1.4px;
color: #000000;
font-weight: normal;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: none;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #ff888886 none no-repeat scroll 0px 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 3px solid rgba(255, 142, 142, 0.44);
border-radius: 13px;
font-family: "Comic Sans MS", cursive, sans-serif;
font-size: 20px;
letter-spacing: -1px;
word-spacing: 0.8px;
color: #000000;
font-weight: normal;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: none;
}

h1, h2 {
    color: #eb8888;
}

#description {
    line-height: 1.6;
    color: #e6b2b2;
    text-align: center;
}

#donate {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f5b4b4;
    color: #3d3c3c;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#donate:hover {
    background-color: #4b4747;
}

footer {
    color: #000000;
    text-align: center;
    font-size: 10px;
}
#form{
    display: grid;
    text-align: center;
    grid-template-columns: 1fr ;
    grid-template-rows: 60px 60px 60px 60px 60px 60px;
    grid-template-areas: 
    'header'
    'name '
    'staff'
    'k'
    'contact'
    'email'
    'amount'
    'salary'
    'kulliyah';
    background: rgba(255, 110, 110, 0.7) none no-repeat scroll 50px -2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 3px solid rgba(164,8,157,0.44);
border-radius: 13px;
font-family: "Times New Roman", Times, serif;
font-size: 22px;
letter-spacing: -1.6px;
word-spacing: 3px;
color: #000000;
font-weight: 700;
text-decoration: none solid rgb(68, 68, 68);
font-style: normal;
font-variant: normal;
text-transform: none;
}
#name{
    grid-area: name;
}
#staff{
    grid-area: staff;
}
#k{
    grid-area: k;
}
#contact{
    grid-area: contact
    ;
}
#email{
    grid-area: email;
}
#amount{
    grid-area: amount;
}
#salary{
    grid-area: salary;
}
#kulliyah{
    grid-area: kulliyah;
}
